@model Orwell.ViewModels.PopulateTablesViewModel

@{
    ViewBag.Title = "Populate Table List";
}


@using (Html.BeginForm("Generate", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Scaffold Type</label>
        <div class="col-sm-6">
            <select id="ScaffoldType" name="ScaffoldType" class="form-control" required>
                <option value="">Select One</option>
                <option value="SP Only">Stored Procedures Only</option>
                <option value="Files Only">Files Only</option>
                <option value="Both">Both</option>
            </select>
        </div>
    </div>

        @Html.HiddenFor(model => model.ServerName)
        @Html.HiddenFor(model => model.DatabaseName)
        @Html.HiddenFor(model => model.ConxType)
        @Html.HiddenFor(model => model.Username)
        @Html.HiddenFor(model => model.Password)
        @Html.HiddenFor(model => model.AppName)


    <div class="form-group row">
        @Html.LabelFor(i => i.Tables, new { @class = "control-label col-md-2" })
        <div class="col-md-6">
            @Html.ListBoxFor(i => Model.TableIds, Model.Tables,
                new { @class = "form-control", @style="height: 300px" })
            @Html.ValidationMessageFor(i => i.Tables,
                "", new { @class = "text-warning" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 offset-2">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
}